*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 200px;
    width: 170px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 19px;
}
.red{
    background-color: #f99b45;
}
.yellow{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.aqua{
    background-color: #a1fadc;
}